.u-section-1 .u-sheet-1 {
  min-height: 400px;
}

.u-section-1 .u-text-1 {
  margin: 37px 0 0;
}

.u-section-1 .u-text-2 {
  margin: 22px auto 0 15px;
}

.u-section-1 .u-text-3 {
  margin-left: 15px;
  margin-right: auto;
  margin-bottom: 60px;
}