.u-section-1 .u-sheet-1 {
  min-height: 657px;
}

.u-section-1 .u-text-1 {
  margin: 12px 0 0 134px;
}

.u-section-1 .u-text-2 {
  margin: 40px 50px 0 84px;
}

.u-section-1 .u-image-1 {
  width: 451px;
  height: 300px;
  margin: 36px auto 0 332px;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.8125rem;
  letter-spacing: 0px;
  margin: 30px auto 29px;
  padding: 25px 187px 25px 186px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-image-1 {
    margin-left: 269px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-image-1 {
    margin-left: 89px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 583px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 226px;
    margin-left: 0;
  }
}